$scrollbar-width: 10px;

.scroll-area
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    .scroll-bar
    {
        position: absolute;

        transition: opacity .5s;

        right: 0;
        bottom: 0;

        height: 100%;

        width: $scrollbar-width;
        border-radius: $scrollbar-width / 2;

        > .scroll-bar-thumb
        {
            position: relative;
            display: block;
            width: 100%;
            cursor: pointer;
            border-radius: inherit;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .scroll-area-content
    {
        width: 100%;
        position: absolute;
        height: 100%;
    }
}
